<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" id="menu">
      <header>
        <div id="menu-titulo">
          <h1>Code Maki</h1>
          <h2><i>Aprendendo na prática</i></h2>
        </div>
        <nav class="navbar navbar-inverse navbar-toggleable-sm" id="menu-links">
          <button class="navbar-toggler navbar-toggler-right" type="button" 
          data-toggle="collapse" data-target="#menu-links-interno">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand hidden-md-up" href="#">menu</a>
          <div class="navbar-collapse collapse" id="menu-links-interno">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#sobre-mim">sobre mim</a>
            <a class="nav-item nav-link" href="#artigos">artigos</a>
            <a class="nav-item nav-link" href="#contato">contato</a>
          </div>
          </div>
        </nav>
      </header>
  </div>
  <div class="col-md-8" id="conteudo">
    <article id="sobre-mim">
      <h1>Sobre mim</h1>
      <div>I’m Digo, a 23 year old back-end developer from Brazil, BR. I run Ultimate Angular (which just won “Best Angular product for Education” award!)
      </div>
    </article>
    <section id="artigos">
      <article class="card artigo">
        <div class="card-block">
          <h1>Google blocker to eliminate bad ads and let users go ad-free</h1>
          <div>OK GOOGLE, get rid of bad ads. The tech giant has announced that it will introduce its own ad blocker to the Chrome browser next year to remove the most intrusive ads. It will also let websites remove ads for people who pay to go ad-free.</div>
          <button class="btn btn-primary">ler mais</button>
        </div>
      </article>
      <article class="card artigo">
        <div class="card-block">
          <h1>Sony sells one million VR headsets</h1>
          <div>Sony has sold more than one million virtual reality (VR) headsets, the company has said.</div>
          <button class="btn btn-primary">ler mais</button>
        </div>
      </article>
    </section>
</div>
</div>
